@media (max-width: 1028px){

    #title{
        text-align: center;
    }
    .dog{
        transform: rotate(0);
        position: static;
    }
    }
#title{
    background-color: #ff4c68;
    color: white;
    padding-top: 3%;
    padding-left:  15%;
    padding-right: 15%;
    padding-bottom: 15%;    
}
h1{
    font-family: 'Montserrat';
    font-size:3rem;
    line-height: 1.5;
}


.navbar{
    margin-bottom: 4.5 rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}

.dog{
    padding-top: 2%;
    width: 30%;
    transform: rotate(20deg);
    position: absolute;
}
.btn-download{
    margin: 5% 3% 5% 0;
}
#contant{
    padding: 7% 15%;
    background-color: #ffff;
    position: relative;
    
}
.contant-box{
    text-align: center;
    padding: 5%;
}
p{
    color: grey;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}
h2{
    padding: 7% 15%;
    font-family: 'Montserrat';
    font-size:3rem;
    line-height: 1.5;   
}
.dog2{
    width: 10%;
    border-radius: 100%;
}
#last{
    padding-top: 5%;
    background-color: #ff4c68;
    text-align: center;
    color: white;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.coloumn-pricing{
    padding: 3% 2%;
}
#end{
    text-align: center;
    padding: 2% 10%;
}
.social-icon{
    margin: 20px 10px;
}
